MONGODB_URI=mongodb+srv://...
JWT_SECRET=
USER1_ID=marcos
USER1_NAME=Marcos
USER1_USERNAME=marcos
USER1_PASSWORD_HASH=
USER2_ID=sofi
USER2_NAME=Sofi
USER2_USERNAME=sofi
USER2_PASSWORD_HASH=
TMDB_READ_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000
